@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

:root {
	--primary-color: rgb(0, 255, 204);
	--secondary-color: rgb(195, 130, 9);
	--wine: rgb(126, 8, 8);
	--header-back: rgb(237, 219, 171);
	--cannabis: rgb(21, 152, 21);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Fuzzy Bubbles', cursive;
	background-image: url(./images/diyahna-lewis-JEI-uPbp1Aw-unsplash.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.navbar {
	height: 80px;
	background-color: var(--primary-color);
}

.navbar .flex {
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 10px;
	height: 100%;
}

nav ul {
	display: flex;
	list-style: none;
}

nav ul li {
	margin: 0 10px;
}

nav ul li a {
	color: var(--secondary-color);
	text-decoration: none;
	font-size: 1.2rem;
}

div.header {
	height: 100%;
	width: 100%;
	background-color: rgba(214, 177, 76, 0.5);
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

div.container.grid {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 20px;
	padding: 20px;
	gap: 80px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	justify-content: center;
	align-items: center;
	height: 100%;
}

div.card.left {
	animation: slideInFromLeft 1s ease-in;
}



img {
	width: 300px;
	height: auto;
	border-radius: 25px;
	border:var(--wine) 2px solid;
	margin-left: 30px;
	animation: slideInFromRight 1s ease-in;
}


div.project-title {
	background-color: var(--primary-color);
	height: 60px;
	text-align: center;
}

h2.section-title {
	font-size: 2rem;
	padding: 10px;
}

div.card {
	background-color: white;
	color: #333;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: 10px;
	border:var(--wine) 2px solid;
}

div.container.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

div.container.flex p{
	margin: 0 20px;
	padding: 20px;
}

div.container.flex .card {
	flex-basis: 200px;
}

div.card.wine {	
	position: relative;
	isolation: isolate;
	flex-grow: 1;
}

div.card.wine::after {
	content: '';
	position: absolute;
	background: pink;
	inset: 0;
	z-index: -1;
	opacity: 0.3;
	background-image: url('./images/klara-kulikova-CPMZguYURMw-unsplash.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

div.card h1 {
	color: var(--wine);
	font-size: 2rem;
	border-radius: 10px;
}

div.card.wine p {
	margin: 10px 0;
	color: var(--wine);
	font-weight: bold;
}

div.card.cannabis {
	position: relative;
	isolation: isolate;
	flex-grow: 1;
}

div.card.cannabis::after {
	content: '';
	position: absolute;
	background: rgb(29, 119, 57);
	inset: 0;
	z-index: -1;
	opacity: 0.3;	
	background-image: url('./images/diyahna-lewis-JEI-uPbp1Aw-unsplash.jpg');
	background-size: cover;
	background-position: center;	
	background-repeat: no-repeat;
}

div.card.sequelize {
	position: relative;
	isolation: isolate;
	flex-grow: 1;
}

div.card.sequelize::after {
	content: '';
	position: absolute;
	background: rgb(87, 235, 134);
	inset: 0;
	z-index: -1;
	opacity: 0.3;	
	background-image: url('./images/christina-rumpf-LMzwJDu6hTE-unsplash.jpg');
	background-size: cover;
	background-position: center;	
	background-repeat: no-repeat;
}

div.card.cannabis h1 {
	color: rgb(7, 57, 7);
}

div.card.cannabis p {
	color: rgb(7, 57, 7);
	font-weight: bold;
}


div.grid-line {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 3px;
}

div.grid-line .left{
	border-bottom: var(--primary-color) solid 3px;
}

.btn {
	display: inline-block;
	padding: 10px 30px;
	cursor: pointer;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	border: none;
	border-radius: 500px;
	margin: 10px 0;
}

.btn:hover {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	transform: scale(1.2)
}

a {
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
	margin: 5px 0;
	font-size: 1rem;
}

i {
	margin-right: 5px;
}

footer {
	background-color: rgb(0, 255, 204, .5);

}

/* Animations */
@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInFromRight {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

/* Media Queries */
/*Tablet*/
@media(max-width: 768px) {
	div.container.grid {
		grid-template-columns: 1fr;
		height: auto;
	}
	div.card.left {
		text-align: center;
		margin-top: 40px;;
	}

	img.img-right {
		justify-self: center;
		margin: auto;
	}
}

/*Mobile*/
@media(max-width: 500px) {
	.navbar {
		height: 110px;
	}
	.navbar .flex {
		flex-direction: column;
	}
	.navbar ul {
		padding: 10px;
		background-color:rgb(0, 255, 204, .1);
	}
}

